:host {
  font-family: "Helvetica Neue", Roboto, sans-serif;

  *  {
    box-sizing: border-box;
  }

  .ar-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20em;
    z-index: 9999;
  }

  .ar-toast-item-container {
    position: relative;
    margin: 0 0 10px 0;
    opacity: 0;
    transition: opacity 1.5s;
    &.ar-state-highlight {
      border-color: #156090;
      background: #186ba0;
      color: #FFFFFF;

      &.info {
        background-color: #2196f3;
        border-color: #2196f3;
      }
      &.error {
        background-color: #f44336;
        border-color: #f44336;
      }
      &.warn {
        background-color: #FFB300;
        border-color: #FFB300;
      }
      &.success {
        background-color: #4CAF50;
        border-color: #4CAF50;
      }
    }
    &.ar-corner-all {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    &.ar-shadow {
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    }
    &.show {
      opacity: 1;
    }
  }

  .ar-toast-item {
    position: relative;
    display: block;
    padding: .5em 1em;
    p {
      padding: 0;
      margin: 0;
    }
  }

  .ar-toast-icon-close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    &:after {
      content: "×";
      position: absolute;
      right: 5px;
    }
  }

  .ar-toast-title {
    font-weight: bold;
    padding: 0 0 .5em 0;
    display: block;
  }

  .ar-toast-image {
    position: absolute;
    display: inline-block;
    left: .5em;
    top: .25em;
    padding: 0;
    font-size: 2em;
    border: 2px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    .icon {
      position: absolute;
      font-style: normal;
      width: 20px;
      height: 20px;
      &:before, &:after {
        content: "";
        position: absolute;
        background-color: #fff;
        pointer-events: none;
      }
      &.icon-success {
        top: 4px;
        left: 8px;
        &:before {
          width: 2px;
          height: 15px;
          transform: rotate(45deg);
          border-radius: 8px;
          right: 14px;
        }
        &:after {
          bottom: 6px;
          left: -3px;
          width: 2px;
          height: 9px;
          transform: rotate(-45deg);
          border-radius: 8px;
        }
      }
      &.icon-info, &.icon-warn {
        &:before {
          width: 3px;
          height: 10px;
          border-radius: 4px;
          bottom: 8px;
          left: 9px;
        }
        &:after {
          width: 3px;
          height: 4px;
          top: 14px;
          left: 9px;
          border-radius: 8px;
        }
      }
      &.icon-warn {
        top: 0;
        left: 1px;
        transform: rotate(180deg);
      }
      &.icon-error {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
        &:before, &:after {
          width: 2px;
          height: 16px;
          border-radius: 8px;
          left: 9px;
          top: 2px;
        }
      }
    }
  }

  .ar-toast-message {
    padding: 0 0 .25em 0;
    margin-left: 2.5em;
    p {
      font-weight: normal;
    }
  }

  clear {
    clear: both;
  }
}